@model IEnumerable<DevXpertHub.Web.Models.CategoriaViewModel>

@{
    ViewData["Title"] = "Lista de Categorias";
}

<h1>Lista de Categorias</h1>

@await Html.PartialAsync("_MessagesPartial")

<p>
    @if (User.Identity.IsAuthenticated)
    {
        <a asp-action="Create">Nova categoria</a>
    }
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            @if (User.Identity.IsAuthenticated)
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                @if (User.Identity.IsAuthenticated)
                {
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Excluir", "Delete", new { id = item.Id })
                    </td>
                }
            </tr>
        }
    </tbody>
</table>